{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} - Créer un compte {% endblock %}

{% block main_class %}
flex-grow-1 d-flex align-items-center justify-content-center py-5 px-3
{% endblock %}

{% block content %}


<div class="rounded-4 w-100" style="max-width: 30em;">
    <h1>Créer un compte</h1>
    <!-- <img src="" alt=""> -->

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
            {% endfor %}
        </div>
        {% endif %}

        {% for field in form %}
        <div class="form-floating mb-2">
            {% if field.errors or form.non_field_errors %}
            {% render_field field class+="form-control is-invalid" placeholder=" " %}
            {% else %}
            {% render_field field class+="form-control" placeholder=" " %}
            {% endif %}

            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>

            {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        <button class="btn btn-sc-primary w-100 py-2 mt-2" type="submit">
            Créer un compte
        </button>
        <small class="fw-lighter">En appuyant sur <i>Créer un compte</i>, j'accepte les <a href="">CGU</a> et la <a href="">Politique de Confidentialité</a>.</small>

        <div class="pt-3">
            <p class="fw-light text-center my-0">Déjà inscris ? <a class="link-primary text-decoration-none"
                    href="{% url 'login' %}">Se connecter</a></p>
        </div>
    </form>
</div>
<!-- </div> -->

{% endblock %}