{% extends 'base.html' %}

{% block content %}

<h1>Dashboard</h1>
<h2>Mon nom : <b>{{ prof.username }}</b></h2>

<h2>Mes élèves</h2>
<ul>
    {% for student in prof.students.all %}
    
    <li><a href="{% url 'dashboard-student' student.slug %}">{{ student.first_name }}</a></li>
    {% endfor %}
</ul>

<h2>Mes cours</h2>
<ul>
    {% for lesson in prof.lessons.all %}
    <li><a href="{% url 'dashboard-lesson' lesson.date_formated %}">Le {{ lesson.date }} avec {{ lesson.student }}</a></li>
    {% endfor %}
</ul>


{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
{% endblock %}